body{
    background-color:rgb(26, 48, 76);
    display: grid;
    justify-content: center;
    align-items:center;
    margin-top: 200px;
}
.join{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    color: white;
}

form{
    margin-top: -15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* border: 2px solid black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;  
}
.inputs{
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 30px;  
}
input{
    width: 20rem;
    height: 2rem;
}
input:focus{
    outline: none;
}
.btnJoin{
    background-color:rgb(70, 112, 168) ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
color: white;
    width: 12rem;
    height: 1.5rem;
    border: 0px;
    cursor: pointer;
}