body{
    background-color:rgb(26, 48, 76);
    display: grid;
    justify-content: center;
    align-items:center;
    margin-top: 200px;
}
.join{
    padding: 20px;
    background-color: rgb(195, 199, 205);
    text-align: center;
    color: rgb(26, 48, 76);
}

form{
    margin-top: -15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* border: 2px solid black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;  
}
.inputs{
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 30px;  
}
input{
    width: 20rem;
    height: 2rem;
}
input:focus{
    outline: none;
}
.btnJoin{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 12rem;
    height: 1.5rem;
    border: 0px;
}